.content {
  font-size: 1rem;
  line-height: 1.5;
}

.bg-nav { 
  background-color: seagreen;
}
.btn{
  margin: 5px;
}
.newpost:hover {
  color: black;
}
a {
  color:seagreen;
}
a:hover {
   color: #5CB85C;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
.nav-user {
  font-family: initial !important;
  font-weight:  initial !important;
  font-size: large;
}
.header{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: normal;
  color:black;
  font-weight:normal;
}
.error{
  color: red;
  background: lightgrey;
  font-size: 20px;
  width: 12em;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.article-preview{
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 1rem 0;
}
.article-preview a:hover {
  text-decoration: none;
}

.user {
  padding: 0.25rem 0;
}